@model IEnumerable<LesliesWarehouseAPI.Models.PunchIn>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PunchInTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PunchInType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PunchInDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PunchInTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PunchInType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PunchInDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.EmployeeId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PunchInId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PunchInId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PunchInId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
